/* ----------- reset ----------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:after, :before {
    box-sizing: inherit;
}

html{
    overflow-x: hidden;
}
body{
    font-family: 'Rubik', sans-serif;  
    color: #333333;
    font-size: 18px;
}

button {
    padding: 0;
    border: 0;
    background: none;
    box-shadow: none;
    text-shadow: none;
}

:focus {
 outline: none;
}    
a{
    text-decoration: none;
    color: #095BB9;
}
li{
    list-style: none;
}

h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.h2,h2 {
    font-size: 40px;
}

@media (min-width: 992px) and (max-width:1199px) {
    .h2,h2 {
        font-size:50px
    }
}

@media (min-width: 1200px) {
    .h2,h2 {
        font-size:64px
    }
}

.h3,h3 {
    font-size: 25px
}

@media (min-width: 992px) and (max-width:1199px) {
    .h3,h3 {
        font-size:30px
    }
}

@media (min-width: 1200px) {
    .h3,h3 {
        font-size:40px
    }
}

.h4,h4 {
    font-size: 20px
}

@media (min-width: 992px) and (max-width:1199px) {
    .h4,h4 {
        font-size:25px
    }
}

@media (min-width: 1200px) {
    .h4,h4 {
        font-size:30px
    }
}

.h5,h5 {
    font-size: 18px;
    line-height: 1.55
}

.wrapper{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px; 
    padding-right: 15px;
}


@media (max-width: 767px) {
    .wrapper {
        padding-right: 35px;
        padding-left: 35px;
    }
}


.wrapper:after,.wrapper:before {
    content: " ";
    display: table
}

.wrapper:after {
    clear: both
}

@media (min-width: 768px) {
    .wrapper {
        width:690px
    }
}

@media (min-width: 992px) {
    .wrapper {
        width:970px
    }
}

@media (min-width: 1200px) {
    .wrapper {
        width:1140px
    }
}

.disable-horizontal-scroll {
    overflow-x: hidden!important;
}


.input{
    border: none;
}

.js-fade{
    opacity: 0;
    transition: transform .6s ease-in-out,opacity .6s ease-in-out;
    
}

.js-fade--complete{
    opacity: 1;
}

.text-center{
    text-align: center;
}
/* ----------- header ----------- */




.bg-header{

}


.header{
    display: flex;
    padding: 2% 0;
}

    .header__title{
        font-size: 30px;
        color: #fff;
        /* color: #095BB9; */
    }


.top{
    position: relative;
    height: 90vh;
}



    .top__container{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0 80px;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .top__title{
        font-size: 22px;
        margin-bottom: 80px;
        color: #fff;
    }

    @media (min-width: 992px) {
        .top__title {
            font-size:60px
        }
    }
    
    @media (min-width: 768px) and (max-width:991px) {
        .top__title {
            font-size:5vw;
        }
    }


    .top__link{
        position: absolute;
        bottom: 50px;
        left: 50%;
        cursor: pointer;
    }


    @-moz-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          -moz-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -moz-transform: translateY(-30px);
          transform: translateY(-30px);
        }
        60% {
          -moz-transform: translateY(-15px);
          transform: translateY(-15px);
        }
      }
      @-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
        }
        60% {
          -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
        }
      }
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -moz-transform: translateY(-30px);
          -ms-transform: translateY(-30px);
          -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
        }
        60% {
          -moz-transform: translateY(-15px);
          -ms-transform: translateY(-15px);
          -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
        }
      }

    .bounce{
        -moz-animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
    }

.section{
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
}
.section--no-padding-bottom{
    padding: 75px 0 0 0;
}

.section--top-home{
    background-image: url('/img/topo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}    

.title-section{
    position: relative;
    margin: 0 0 40px 0;
    /* line-height: 80px; */
}

.title-section span{
    display: block;
}
.title-section--center{
    text-align: center;
}

.title-section--no-margin{
    margin: 0  ;
}

.title-line{
    width: 50px;
    height: 10px;
    background: #333333;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
}

.title--inline{
    display: inline-block !important;
}
.title-dot {
    color: #095BB9;
    display: inline-block !important;
    margin-left: -10px;
}


/*  --------------------------------  
    -------------- NAVBAR  ----------- 
    -------------------------------- */

.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 76px;
    z-index: 999
}

.nav-bar__bg {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    z-index: 2
}

.nav-bar__container {
    display: -webkit-box;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 75px;
    padding-right: 25px;
    padding-left: 25px
}

.nav-bar__logo {
    height: 35px;
    width: 280px;
}


@media (min-width: 992px) {
    .nav-bar {
        display:-webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        height: auto
    }

    .nav-bar__bg {
        border-bottom-color: transparent;
        background-color: transparent
    }

    .nav-bar__container {
        height: 125px
    }

    .nav-bar__logo {
        position: absolute;
        top: 40px;
        left: 50px
    }

    .nav-bar__toggle-navigation {
        position: absolute;
        right: 50px
    }
}

.nav-bar__toggle-navigation {
    cursor: pointer
}

.nav-bar__toggle-navigation__icon {
    display: block;
    position: relative;
    width: 22px;
    height: 18px
}

.nav-bar__toggle-navigation__icon span {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    transition: all .15s;
    background-color: #1e2b31
}

.nav-bar__toggle-navigation__icon span:first-of-type {
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0)
}

.nav-bar__toggle-navigation__icon span:nth-of-type(2) {
    top: 0;
    -webkit-transform: translateZ(0) rotate(0) scaleX(1);
    transform: translateZ(0) rotate(0) scaleX(1)
}

.nav-bar__toggle-navigation__icon span:nth-of-type(3) {
    bottom: 0;
    -webkit-transform: translateZ(0) rotate(0) scaleX(1);
    transform: translateZ(0) rotate(0) scaleX(1)
}

@media (max-width: 992px) {
    .nav-bar__toggle-navigation__icon span:nth-of-type(2) {
        -webkit-transform:rotate(45deg) translate3d(5px,7px,0);
        transform: rotate(45deg) translate3d(5px,7px,0)
    }

    .navigation-closed .nav-bar__toggle-navigation__icon span:nth-of-type(2) {
        -webkit-transform: none;
        transform: none
    }

    .nav-bar__toggle-navigation__icon span:first-of-type {
        opacity: 0
    }

    .navigation-closed .nav-bar__toggle-navigation__icon span:first-of-type {
        opacity: 1
    }

    .nav-bar__toggle-navigation__icon span:nth-of-type(3) {
        -webkit-transform: rotate(-45deg) translate3d(5px,-6px,0);
        transform: rotate(-45deg) translate3d(5px,-6px,0)
    }

    .navigation-closed .nav-bar__toggle-navigation__icon span:nth-of-type(3) {
        -webkit-transform: none;
        transform: none
    }
}

@media (min-width: 992px) {
    .nav-bar__toggle-navigation {
        visibility:hidden;
        position: fixed;
        z-index: 999;
        top: 33px;
        right: 35px;
        width: 60px;
        height: 60px;
        padding: 20px;
        -webkit-transform: translate3d(-1200%,0,0) rotate(90deg);
        transform: translate3d(-1200%,0,0) rotate(90deg);
        transition: all .45s;
        border-radius: 50%;
        opacity: 0;
        background-color: #fff;
        box-shadow: 0 8px 20px 2px rgba(0,0,0,.15)
    }

    .nav-bar__toggle-navigation:hover .nav-bar__toggle-navigation__icon span:nth-of-type(2) {
        -webkit-transform: translate3d(-7px,4px,0) rotate(-45deg) scaleX(.5);
        transform: translate3d(-7px,4px,0) rotate(-45deg) scaleX(.5)
    }

    .nav-bar__toggle-navigation:hover .nav-bar__toggle-navigation__icon span:nth-of-type(3) {
        -webkit-transform: translate3d(-7px,-4px,0) rotate(45deg) scaleX(.6);
        transform: translate3d(-7px,-4px,0) rotate(45deg) scaleX(.6)
    }

    .navigation-closed .nav-bar__toggle-navigation {
        visibility: visible;
        -webkit-transform: translateX(0) rotate(0);
        transform: translateX(0) rotate(0);
        opacity: 1
    }
}

.navigation {
    transition: opacity .3s
}

@media (max-width: 992px) {
    .navigation {
        visibility:hidden;
        height: 100vh;
        overflow-y: scroll;
        text-align: center;
        -webkit-overflow-scrolling: touch
    }

    .navigation-initialised .navigation {
        visibility: visible
    }

    .navigation-closed .navigation {
        visibility: hidden
    }
}

@media (min-width: 992px) {
    .navigation:before {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 86px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        transition: all .15s;
        border-bottom: 1px solid rgba(0,0,0,.1);
        background-color: #fff
    }

    .navigation-hidden .navigation:before {
        transition: 0;
        opacity: 0
    }

    .fp-enabled .navigation:before,.navigation-closed .navigation:before,.navigation-hidden .navigation:before,.navigation-start .navigation:before {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }

    .navigation-hidden .navigation {
        opacity: 0
    }

    .navigation {
        padding-right: 60px
    }
}

.navigation__blocks {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh
}

.navigation__blocks:after,.navigation__blocks:before,.navigation__blocks span {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33.33333%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: .3s cubic-bezier(.65,.05,.36,1);
    background-color: #fff
}

.navigation-closed .navigation__blocks:after,.navigation-closed .navigation__blocks:before,.navigation-closed .navigation__blocks span {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.navigation-closed .navigation__blocks:before {
    transition-delay: .1s
}

.navigation__blocks span {
    top: 33.33333%;
    transition-delay: .05s
}

.navigation__blocks:after {
    top: 66.66667%;
    transition-delay: .1s
}

.navigation-closed .navigation__blocks:after {
    transition-delay: 0s
}

.navigation__link{
    cursor: pointer;
}


.navigation__item-name {
    display: inline-block;
    text-align: center;
}

.navigation .navigation__item:hover .navigation__link, .navigation .navigation__item:hover .navigation__link{
    font-weight: bold;
}


.navigation__item-name::after{
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


@media (min-width: 992px) {
    .navigation__blocks {
        display:none
    }
}

.navigation__list {
    display: -webkit-box;
    display: flex
}
.navigation__link{
    position: relative;
}

@media (max-width: 991px) {
    .navigation__list {
        flex-basis:auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-shrink: 1;
        -webkit-box-pack: justify;
        justify-content: space-between;
        height: calc(100vh - 150px);
        padding: 40px 0
    }
}

@media (min-width: 992px) {
    .navigation__list {
        position:relative;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end;
        height: 86px;
        margin-top: 0
    }
}


@media (max-width: 992px) {
    .navigation__item {
        -webkit-transform:translateZ(0);
        transform: translateZ(0)
    }

    .navigation-closed .navigation__item {
        -webkit-transform: translate3d(40%,0,0);
        transform: translate3d(40%,0,0);
        opacity: 0
    }

    .navigation-closed .navigation__item:nth-child(7) {
        transition-delay: 0s
    }

    .navigation-closed .navigation__item:nth-child(6) {
        transition-delay: .01s
    }

    .navigation-closed .navigation__item:nth-child(5) {
        transition-delay: .02s
    }

    .navigation-closed .navigation__item:nth-child(4) {
        transition-delay: .03s
    }

    .navigation-closed .navigation__item:nth-child(3) {
        transition-delay: .04s
    }

    .navigation-closed .navigation__item:nth-child(2) {
        transition-delay: .05s
    }

    .navigation-closed .navigation__item:first-child {
        transition-delay: .06s
    }

    .navigation__item:first-child {
        transition-delay: .05s
    }

    .navigation__item:nth-child(2) {
        transition-delay: .1s
    }

    .navigation__item:nth-child(3) {
        transition-delay: .15s
    }

    .navigation__item:nth-child(4) {
        transition-delay: .2s
    }

    .navigation__item:nth-child(5) {
        transition-delay: .25s
    }

    .navigation__item:nth-child(6) {
        transition-delay: .3s
    }

    .navigation__item:nth-child(7) {
        transition-delay: .35s
    }
}


 /* hover */

  .link{
      overflow: hidden;
  }
 .link:before{
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #095BB9;
	transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition: transform 0.3s;
 }

 .link:hover:before{
    transform: translate3d(100%,0,0) translate3d(1px,0,0);
    transition: transform 0.7s;
 }

 .link:hover{
     color: #095BB9;
     font-weight: 300;
 }
.navigation .navigation__item-name::before
 {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #095BB9;
	transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition: transform 0.3s;
}

.navigation .navigation__item:hover .navigation__item-name::before {
    transform: translate3d(100%,0,0) translate3d(1px,0,0);
    transition: transform 0.7s;
}

.navigation-start .navigation .navigation__item:hover .navigation__link{
    color: #fff;
}

 /* hover */


@media (min-width: 992px) {

    .navigation__item:not(:first-child) {
        margin-left: 50px
    }

    .navigation__item.is-active:after,.navigation__item.is-active:before {
        opacity: 1
    }

    .navigation-closed .navigation__item {
        visibility: hidden;
        opacity: 0
    }
}

.navigation__link {
    display: block;
    color: #1e2b31;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
}

@media (max-width: 992px) {
    .navigation__link {
        font-size:20px;
        letter-spacing: 1px
    }
}

@media (min-width: 992px) {
    .navigation__link {
        line-height:20px
    }

    .navigation-lightness .navigation__link {
        color: #82888d;
    }

    .navigation-down .navigation__link {
        color: #1e2b31
    }

    .navigation__item.is-active .navigation__link:after,.navigation__item.is-active .navigation__link:before {
        opacity: 1
    }
}


/*  --------------------------------  
    -------------- Work  ----------- 
    -------------------------------- */
/* 
    .owl-carousel .owl-stage-outer{
        overflow: initial !important;
    } */

    .owl-prev.disabled, .owl-next.disabled{
       opacity: 0,2;
    }

    .owl-nav{
        position: absolute;
        top: 100%;
        width: 100%;
        text-align: center;
    }

    .owl-prev{
        font-size: 32px;
        display: inline-block;
        margin-right: 30px;
    }
    .owl-next {
        font-size: 32px;
        display: inline-block;
    }
    .owl-next span, .owl-prev span{
        display: block;
    }

    .work-item {
        display: block;
        position: relative;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
        max-width: 295px;
        height: 190px;
        text-align: center;
        margin: 30px auto;
        cursor: pointer;
    }
    
    .work-item__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #f1f4f6;
    }
    .work-item__bg--clk {
        background: linear-gradient(90deg,#a8feff 0,#55fafd);
        background-color: #55fafd;
    }

    .work-item__bg--th {
        background: linear-gradient(90deg,rgb(255, 232, 117) 0,#FDD70D);
        background-color: #FDD70D;
    }

    .work-item__img{
        position: relative;
        width: 100%;
        -webkit-transform: translate3d(0,-20px,0);
        transform: translate3d(0,-20px,0);
        pointer-events: none;
    }

    .work-item__infos--hover{
        position: absolute;
        bottom: 30px;
        text-align: left;
        left: 30px;
    }

    .work-item__name{
        position: absolute;
        bottom: 0%;
        left: 50%;
        margin: 0;
        -webkit-transform: translate3d(-50%,50%,0);
        transform: translate3d(-50%,50%,0);
        font-size: 30px;
        text-align: center;
        pointer-events: none;
        line-height: 30px;
        text-align: center;
    }
    .work-item__name::before{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 36px;
        height: 5px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background: #333333;
    }

    .work-item__name span {
        display: block;
    }

    .work-item__type{
        font-size: 18px;
        line-height: 30px;
    }

    .work-item__skill{
        font-size: 14px;
        line-height: 30px;
        
    }
    
    .work-item__skill, .work-item__type, .btn--work{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }

    .btn--work{
        position: absolute;
        bottom: 70px;
        left: 30px;
        margin: 0;
        border-color: #1E1E20 !important;
        color: #1E1E20 !important;
    }

@media (max-width: 767px) {
    .work-item--padding {
        padding-right:20px;
        padding-left: 20px
    }
}

@media (min-width: 768px) {

    .work-item {
        max-width:500px;
        height: 365px
    }

    .work-item__name{
        top: 50%;
        bottom: auto;
        left: -70px;
        -webkit-transform: translate3d(0,-50%,0);
        transform: translate3d(0,-50%,0);
        transition: -webkit-transform .5s cubic-bezier(.165,.84,.44,1);
        transition: transform .5s cubic-bezier(.165,.84,.44,1);
        transition: transform .5s cubic-bezier(.165,.84,.44,1),-webkit-transform .5s cubic-bezier(.165,.84,.44,1);
        font-size: 50px;
        line-height: .9;
        text-align: left;
    }

    .work-item__name::before{
        bottom: -30px;
        left: 0;
        width: 46px;
        height: 8px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .work-item:hover .work-item__img {
        -webkit-transform: translate3d(30px,-20px,0);
        transform: translate3d(30px,-20px,0)
    }

    .work-item:hover .work-item__skill, .work-item:hover .work-item__type, .work-item:hover .btn--work{
        visibility: visible;
        opacity: 1;
    }


    .work-item__img {
        position: absolute;
        right: -140px;
        bottom: 20px;
        max-width: 750px;
        transition: -webkit-transform .5s cubic-bezier(.165,.84,.44,1);
        transition: transform .5s cubic-bezier(.165,.84,.44,1);
        transition: transform .5s cubic-bezier(.165,.84,.44,1),-webkit-transform .5s cubic-bezier(.165,.84,.44,1);
    }

    .work-item__img--vlnt {
        bottom: 60px;
        max-width: 460px;
    }

    .work-item__img--vrdstn {
        right: -60px;
        bottom: 0;
        max-width: 230px;
    }

    .work-item__img--rrs {
        right: -90px;
        max-width: 570px;
    }
}

@media (min-width: 992px) {

    
    .work-item {
        max-width:700px;
        height: 425px;
    }

    .work-item--slide {
        margin-right: 220px;
    }

    .work-item__name{
        font-size: 70px;
    }

}

@media (min-width: 1200px) {


    /* .work-item__name{
        transform: translate3d(0,0,0);
        text-align: left;
        position: initial;  
    } */
    .work-item__bg{
        width: 480px;
        height: 420px;
        margin-top: 73px;
    }
    .work-item {
        max-width: 855px;
        height: 520px;
    }

}


/*  --------------------------------  
    -------------- Sobre  ----------- 
    -------------------------------- */

.list{
  position: relative;
  padding-left: 15px;
}

.list:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #333333;;
    top: 14px;
    left: 0px;
}


    .block{
        display: -webkit-box;
        display: flex;
        position: relative;
        -webkit-box-align: center;
        align-items: center;
    }

    @media (max-width: 768px) {
        .block--column{
            flex-direction: column;
        }
    }
    .block::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0%;
        width: 100vw;
        height: calc(100% - 20px);
        background-color: #f1f4f6;
    }

    .block__media{
        display: none;
    }
    
    @media (min-width: 768px) {
        .block {
            min-height:100vh
        }
    
        .block:before {
            left: 22%
        }
    
        .block--right:before {
            right: 22%;
            left: inherit
        }

    }
    @media (min-width: 768px) {

    .block__media {
            display: block;
            position: relative;
            min-width: 44%;
            max-width: 470px;
            height: 65vh;
            margin-right: 50px;
            overflow: hidden;
        }
    }

   

    .block__media--right{
        margin-left: 180px;
        -webkit-box-ordinal-group: 3;
        order: 2;
        margin-right: 0;

    }

    .block__img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }

    .block__content{
        position: relative;
        z-index: 2;
        padding: 50px 0;  
        line-height: 35px;  
    }


    .block__subtitle{
        font-family: 'Rubik', sans-serif;  
        font-size: 24px;
        margin: 20px 0;
    }

        .block__subtitle--contact{
            margin-top: 0;
        }
  

    .block__list {
        display: flex;
        flex-wrap: wrap;
    }

    .block__list li {
        flex-basis: 50%;
        list-style: none;
    }

    .block__contact{
        padding: 40px;
        color: #fff;
        background: #1E1E20;
        position: relative;
        line-height: 35px;
        margin-right: 100px;
        margin-top: 80px;
        min-width: 40%;
    }


        .btn{
            position: relative;
            padding: 15px 30px;
            color: #095BB9;
            border: 2px solid #095BB9;
            font-family: 'Rubik', sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            cursor: pointer;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            background-color:transparent;
            
        }

        .btn:hover:hover {
            color: #fff;
            background-color: transparent;
        }
        
        .btn:after {
            content: '';
            position: absolute;
            z-index: -1;
            width: 0%;
            height: 100%;
            top: 0;
            left: 0;
       
            background-color: #095BB9;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        .btn:hover:after{
            width: 100%;
        }

        .m-bottom-20{
            margin-bottom: 20px;
        }

        .footer{
            text-align: center;
            padding: 20px 0;
            color: #fff
        }

        .list-footer__item {
            display: inline-block;
            padding: 0 40px 0 0;
            list-style: none;
            font-size: 14px;
        }

        @media (min-width: 992px){

            .list-footer li {
                padding: 0 20px 0 0;
            }
        }

        .list-footer img {
            width: 22px;
        }




    .block-revealer__element {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        pointer-events: none;
        opacity: 0;
    }


    /* Contato */

    .contact {
        background-color: #f1f4f6;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: calc(100vh - 150px);
    }

    .contact__content{
        padding-left: 20px;
        padding-right: 20px;
        max-width: 500px;
    }


/* Case */

.section--top-case{
    height: 80vh;
    margin-bottom: 20vh;
}

.section--top-clk{
    background: linear-gradient(90deg,#41ADAF 0,#B0DEDE);
    background-color: #B0DEDE;
}

.case-top{
    text-align: center;
}

.case-top__title{
    font-size: 60px;
    margin-top: 30px;
}

.case-top__title-line{
    width: 50px;
    height: 10px;
    background: #333333;
    display: block;
    border: none;
    margin: 0px auto 30px auto;
}

.case-top__subtitle{
    font-size: 24px;
    font-family: 'Rubik', sans-serif;  
    font-weight: 300;
}

.case-top__image{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%,0,0);
}


.case__infos{
    display: flex;
    padding: 100px 0;
}

.case__skills{
    flex-basis: 25%;
    padding-left: 20px;
}

.case__skills__item{
    font-size: 12px;
    line-height: 35px;
    list-style: initial;
}
.case__description{
    flex-basis: 50%;
    line-height: 35px;
}


.case__img{
    width: 100%;
    box-shadow: 0 1rem 2rem rgba(27,29,31,.25);
}







.case-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.case-contact{
    background-color: #f1f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(20vh);
}